[Unit]
Description=Project systemd service.

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/
ExecStart=/bin/bash /home/ec2-user/scripts/2_run.sh

[Install]
WantedBy=multi-user.target